$first-section-bg: rgba(224, 110, 33,.9);
$btn-color: rgba(0, 173, 111, 1);
$btn-color-hover: #004000;
$sections-bg:rgba(245, 245, 245,.9);
$white: #fff;
$footer-bg: #100f10;
$border: rgba(49, 49, 49, 0.251);
$navbar-bg: rgba(0, 173, 111, 1);
$header-text-bg: rgba(0,173,111,.8)