@import '../../../styles/colors.scss';

.header{
    backdrop-filter: blur(.3em);
    -webkit-backdrop-filter: blur(.3em);
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: $white;
    opacity: .8;
    padding: .3em 0 .3em .3em;
    img{
        border-radius: 50%;
        width: 10%;
    }
    .header-text{
        background: $header-bg;
        padding: .3em .5em;
        border-radius: 1em;
        span{
            color: $white;
            text-align: center;
            font-weight: bold;
            font-family: 'Roboto', sans-serif;
            font-size: 1.2rem;
        }
    }
    a{
        padding-top: .2em;
    }

}

