@import '../../../styles/colors.scss';


.wrapper{
    padding: .5em;
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: 1px solid $border;
    background: $navbar-bg;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        display: none;
        img{
            padding: .75em;
            border-radius: 50%;
            width: 30%;
        }  
    }
    .navbar{
        width: 100%;
        display: flex;
        overflow: none;
        justify-content: space-around;
        .link-navbar{
            &:nth-last-child(-n+2){
                margin-left: 2em;
            }
        }
    }
}